body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.player {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#songList {
    list-style: none;
    padding: 0;
}

#songList li {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ddd;
    margin-top: 5px;
}

#songList li:hover {
    background-color: #eee;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
#logoutbtn{
    align-items: baseline;
    margin-bottom: 10px;
    cursor: pointer;
}
