body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.welcome-screen {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(177, 14, 14, 0.616);
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
